* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

.main-div{
    margin-top: 2%;
}

.header {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 20px;
  padding: 12px 30px;
    flex-direction: row;

}

/* LEFT */
.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left:10%;
}

.logo {
  height: 40px;
}

/* SEARCH BAR */
.search-bar {
  display: flex;
  align-items: center;
  width: 700px;
  height: 40px;
  border: 2px solid #0bb8e4;
  border-radius: 24px;
  overflow: hidden;
  background-color: #fff;
}

.search-icon {
  margin-right: 8px;
  color: rgb(255, 255, 255);
  background-color: #0bb8e4;
}

.input {
  border: none;
  outline: none;
  height: 100%;
  padding: 0 12px;
  font-size: 14px;
}

.location {
  width: 30%;
  background-color: #0bb8e4;
  color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.location::placeholder {
  color: #e6edff;
}

.search {
  width: 70%;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.6);
}

.search-btn {
  background-color: #0bb8e4;
  border: none;
  height: 100%;
  padding: 0 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.search-btn i {
  color: #fff;
  font-size: 15px;
}

/* RIGHT SECTION */
.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.icon:hover {
  color: #000;
}

.profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* SELL BUTTON */
.sell-btn {
  background-color: #0bb8e4;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.sell-btn:hover {
  background-color: #1557d6;
}




/* catagories */
.categories-row {
  display: flex;
  align-items: center;
  gap: 10px; /* space between All Categories & other buttons */
  flex-wrap: wrap; /* responsive for small screens */
  margin-top: 20px;
  margin-left: 5%
  
  /* margin-left: 200px */
  ;
}

/* All Categories button */
.all-cat-btn {
  background-color: #0bb8e4; /* light blue */
  color: #000;
  padding: 10px 18px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  /* align-self: center; */
  margin-left: 200px;
  /* padding-top: 20px; */
}

/* Arrow icon */
.all-cat-btn i {
  font-size: 12px;
}

/* Other categories buttons */
.other-categories {
  display: flex;
  align-items: center;
  gap: 10px; /* space between each category */
  flex-wrap: wrap;
}

.category-btn {
  background-color: #f0f8ff; /* light hover color */
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 8px 12px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s;
color: #000;
}

.category-btn:hover {
  background-color: #add8e6; /* hover light blue */
  color: #000;
  border-color: #1e6bff;
}

/* ads row */


.related-ads {
display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-left: 3%;
}

.ad-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 10px;
  font-size: 13px;
  /* position: relative; */
  width: 208px;
  height: 315px;
  color: #000;
  height: 41vh;

}

.ad-card img {
  width: 100%;
  height: 120px;
  /* object-fit: cover; */
  border-radius: 6px;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  font-size: 11px;
  padding: 3px 6px;
  border-radius: 4px;
}

.ad-card h4 {
  font-size: 14px;
  margin: 8px 0 4px;
}

.location {
  color: #777;
  font-size: 12px;
  font-weight: 300;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 12px;
}

.price {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

.time {
  font-size: 11px;
  color: #888;
}

.actions {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}

.actions button {
  flex: 1;
  padding: 6px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.call {
  background: #00a49f;
  color: white;
}

.chat {
  background: #fff;
  border: 1px solid #00a49f;
  color: #00a49f;
}

