

.header {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 20px;
  padding: 12px 30px;
    flex-direction: row;


}

/* LEFT */
.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left:10%;
}

.logo {
  height: 40px;
}

/* SEARCH BAR */
.search-bar {
  display: flex;
  align-items: center;
  width: 700px;
  height: 40px;
  border: 2px solid #0bb8e4;
  border-radius: 24px;
  overflow: hidden;
  background-color: #fff;
}

.search-icon {
  margin-right: 8px;
  color: rgb(255, 255, 255);
  background-color: #0bb8e4;
}

.input {
  border: none;
  outline: none;
  height: 100%;
  padding: 0 12px;
  font-size: 14px;
}

.location {
  width: 30%;
  background-color: #0bb8e4;
  color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.location::placeholder {
  color: #e6edff;
}

.search {
  width: 70%;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.6);
}

.search-btn {
  background-color: #0bb8e4;
  border: none;
  height: 100%;
  padding: 0 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.search-btn i {
  color: #fff;
  font-size: 15px;
}

/* RIGHT SECTION */
.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.icon:hover {
  color: #000;
}

.profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* SELL BUTTON */
.sell-btn {
  background-color: #0bb8e4;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.sell-btn:hover {
  background-color: #1557d6;
}

