
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.header-wrap {
  display: flex;
  flex-direction: row;
      /* center horizontally */
 /* center vertically if needed */
  /* gap: 10px; */
   justify-content: space-around;
}

.top-bar {
  display: flex;
  flex-direction: row;     /* row direction */
  align-items: center;     /* vertically center */
  /* horizontally center */
  gap: 45px;

}

.back-icon {
  font-size: 16px;
  cursor: pointer;
}

.image-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-row img {
  width: 80px;
  height: auto;
  object-fit: contain;
}
.div{
    margin-right: 180px;
}

/* main view */
.main {
  width: 80%;
  height: auto;   /* auto height */
  border: 0.3px solid rgb(185, 185, 185);
  border-radius: 20px;
  margin: 10px auto;
}



.h3{
    margin-left: 20px;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
}

/* banner */




