



.Main-div{
  color: #000;
}

.header-wrap {
  display: flex;
  flex-direction: row;
      /* center horizontally */
 /* center vertically if needed */
  gap: 10px;
   justify-content: space-around;
   margin-top: 3%;

}

.top-bar {
  display: flex;
  flex-direction: row;     /* row direction */
  align-items: center;     /* vertically center */
  /* horizontally center */
  gap: 45px;

}

.back-icon {
  font-size: 16px;
  cursor: pointer;
}

.image-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-row img {
  width: 80px;
  height: auto;
  object-fit: contain;
}
.div{
    margin-right: 180px;
}

/* main view */
.main {
  width: 80%;
  height: 232vh;               /* screen ke 90% height */
  border: 0.3px solid #D8DFE0;   /* proper border */
  border-radius: 20px;
  margin: 10px auto;         /* horizontally center */
  /* display: flex; */
  /* justify-content: center;   content center */
  /* align-items: center;       content center */
  margin-top: 5%;
  
}

.h3{
    margin-left: 20px;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: 600;
}

/* banner */
.first {
    display: flex;          /* important! makes it a flex container */
    flex-direction: row;    /* aligns children in a row */
    /* vertically center items */
}

.second {
    width: 25%;
    height: 40px; /* fixed height */
    background-color: #2BBEF917;
    border-radius: 40px;
    margin-left: 20px;
    margin-top: 27px;
}
.para{
    align-self: center;
    margin-left: 22px;
    /* color: #667085; */
}
.h3text{
    margin-left: 30px;
    margin-top: 3.5%;
    font-weight: 600;
}
.h5{
  margin-top: 20px;
}
.firstinp{
    width: 80%;
    height: 7vh;
    border-radius: 5px;
  border: 1px solid #ccc;
    margin-right: 340px;
    padding-left: 10px;
    margin-bottom: 16px;
            margin-top: 10px;


}
.inputsdiv{
    flex-direction: row;
    display: flex;
    /* align-self: center; */
    justify-content: space-around;
    /* align-items: center; */
    margin-left: 3%;

    
}

.secondinp{
    width: 80%;
    height: 7vh;
    border-radius: 5px;
  border: 1px solid #ccc;
        margin-right: 340px;
        padding-left: 10px;
                margin-top: 10px;



}


/* using ID */

.desc-wrap {
  width: 100%;
  margin-left: 15%;
}




#description {
    width: 100%;   /* fit container */
    height: 100px;
    border: 0.5px solid #D0D0D0;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 5%;
}


/* OR using class */
.description-input {
    width: 100%;
    height: 100px;
    border-radius: 10px;
}
.description-text{
    margin-left: 14%;
    margin-top: 20px;
}

.description{
    display: flex;
    flex-direction: row;
    }


/* conditiomns */



    .condition-text{
        margin-left: 47%;
margin-top: 14px;
    }

.condition-row {
  display: flex;
          /* wrap to next line if needed */
  gap: 10px;                 /* space between buttons */
    /* center buttons horizontally */
  margin: 15px 0;
  margin-left:300px;
}

.condition-btn {
  /* flex: 1 1 10%;             grow/shrink, 30% width approx */
  min-width: 100px;          /* prevent too small on small screens */
  padding: 10px 15px;
  background-color: #e6e6e6;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  transition: 0.3s;
}
.buttons{
    margin-left: 52%;
}

/* Active / selected state */
.condition-btn.active {
  background-color: #40c2ff;
  
  color: white;
  border-color: #40c2ff;
}

/* price */
.set-price{
    margin-left: 2.5%;
    margin-top: 16%;
    font-weight:600 ;
}

.rupesinp{
    margin-left: 1%;
    margin-top: 1px;

}
.thirdinp{
     width: 40%;
    height: 7vh;
    border-radius: 5px;
  border: 1px solid #ccc;
        margin-right: 340px;
        padding-left: 10px;

}


/* profiles */

.h5Images{
    margin-left: 2.8%;
    font-size: 14px;
    margin-top: 30px;
}

.profiles {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  margin-top: 20px;
  margin-left: 2.8%;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
}

.dotted {
  border: 2px dashed #000;
  background: transparent;
}


.filled {
  background-color: #1e90ff;

  /* color: #fff; */
}



/* phoen input  */
.phone-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #D0D0D0;
  width: 335px;
  height: 50px;
  padding: 0 10px;
  border-radius: 8px;
  background: #fff;
}

.country-code {
  background: #F3F3F3;
  padding: 8px 12px;
  border-radius: 6px;
  margin-right: 10px;
  font-weight: 600;
  color: #333;
}

.phone-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 15px;
  color: #333;
}

.phone-input::placeholder {
  color: #aaa;
}


/* show my numbber  */
.show-Number{
    margin-left: 2.5%;
    margin-top: 3%;
}


/* post now button  */
.post-btn {
  background-color: #2BBEF9;
  color: white;
  border: none;
  border-radius: 10%;
  width: 12%;
  height: 8vh;
  margin-left: 5%;
  /* padding: 10px 0; */
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5%;
}


