/* side bar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  /* background: #000; */
  color: #000000;
}

.layout {
  display: flex;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 320px;
  padding: 10px;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 10px;
}

.sidebar h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

.filter-title {
  font-size: 18px;
  margin-bottom: 10px;
}

hr {
  border: 1px solid #0f4d4f;
  margin-bottom: 20px;
}

.section-title {
  font-size: 16px;
  margin: 20px 0 10px;
}

.all-cat {
  font-size: 14px;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 15px;
  margin: 15px 0 8px;
}

.list {
  list-style: none;
}

.list li {
  padding: 8px 0;
  font-size: 14px;
  cursor: pointer;
}

.list li span {
  opacity: 0.8;
}

.list li:hover {
  text-decoration: underline;
}

/* Location dropdown */
.location-select {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
}

/* View more */
.view-more {
  display: inline-block;
  margin: 10px 0;
  color: #2979ff;
  text-decoration: none;
}

/* Price */
.price-range {
  width: 100%;
  margin: 15px 0;
}

.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-btn {
  padding: 6px 12px;
  background: transparent;
  border: 1px solid #0f4d4f;
  color: #0f4d4f;
  cursor: pointer;
  border-radius: 4px;
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
}


.section-title {
  font-size: 16px;
  margin: 20px 0 10px;
  font-weight: bold;
  margin-left: 20px;
}

.list {
  list-style: none;
  margin-left: 20px;
}

.list li {
  padding: 8px 0;
  font-size: 14px;
  cursor: pointer;
}

.list li span {
  opacity: 0.8;
}

.list li:hover {
  text-decoration: underline;
}

.view-more {
  display: inline-block;
  margin: 8px 0 15px;
  color: #2979ff;
  text-decoration: none;
  margin-left: 20px;
}

/* product categories */
/* Header */
.products-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 20px;
}

.products-header h2 {
  font-size: 18px;
}

.sort-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sort-box select {
  padding: 6px;
}

/* Grid */
.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Card */
.product-card {
  width: 210px;
  /* background: #000; */
  /* border: 1px solid #333; */
  /* padding: 10px; */
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Discount */
.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ffce32;
  color: #000;
  font-size: 12px;
  padding: 4px 6px;
  font-weight: bold;
}

/* Text */
.product-card h4 {
  font-size: 14px;
  margin: 8px 0;
}

.location {
  font-size: 12px;
  opacity: 0.7;
 
}

/* Price */
.price-box {
  margin: 6px 0;
}

.new-price {
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-left: 5px;
  opacity: 0.6;
}

.time {
  font-size: 12px;
  opacity: 0.6;
}

/* Buttons */
.btns {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btns button {
  flex: 1;
  padding: 6px;
  background: transparent;
  border: 1px solid #29b4f5;
  color: #ffffff;
    border-radius: 10px;
    background-color: #29b4f5;

  cursor: pointer;
}

.locations{
    font-size: 12px;
    font-weight: 200;
}


/* reload butn */
.reload {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #000;
    width: 120px;
    height: 35px;
    font-weight: 700;
    margin-top: 20px;
}
